* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 120px;
    background-color: blue;
    color: white;
}

h1, h2, h3 {
    text-align: center;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
} 

ul, ol, #html-note {
    font-size: 20px;
}

#html-note {
    margin-bottom: 10px; /* adds space after the background on the sections heading so the text isn't touching it */
}

ul {
    padding-left: 40px;
}

ol {
    padding-left: 40px;
}

p {
    text-align: center;
    font-size: 30px; /* Note this won't effect #htmlnote even though it's a paragraph element since the id has higher priority */
}

.vocab {
    padding: 5px;
    margin: -5px;
    background-color: rgba(134, 134, 134, 0.425);
}

.card-headings {
    background-color: rgba(134, 134, 134, 0.425);
    padding: 5px;
    margin: -5px;
}

.notes {
    padding-top: 10px;
    padding-bottom: 12px;
}

.vocab-notes {
     padding-top: 10px;
}

.card {
    width: 80%;
    margin: 40px auto;
    padding: 5px;
    border: 5px solid gray;
    box-shadow: 5px 10px #888888;
}